/* Styling Global */
body {
  font-family: Arial, sans-serif;
  background-color: #cd89c8;
  color: #924c81;
  margin: 0;
  padding: 0;
}

/* Header & Navigasi */
header {
  background-color: #ca4da2;
  color: #f868c5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

/* Layout Section */
section {
  padding: 40px 20px;
}

main {
  max-width: 1000px;
  margin: auto;
}

/* Tentang Saya */
#tentang img {
  width: 200px;
  border-radius: 50%;
}

/* Galeri Proyek */
.proyek-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.proyek-card {
  background-color: #f6f7f3;
  border: 1px solid #863b7d;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 200px;
}

/* Form Kontak */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

button {
  background-color: #bc559f;
  color: #86557c;
  padding: 10px;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e4c2d1;
}

/* Footer */
footer {
  background-color: #050505;
  color: #e5a7dc;
  text-align: center;
  padding: 10px;
}
li{
  background-color: #bc559f;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
li:hover{
  background-color: #e4c2d1;
}
